@keyframes voiceMove1 {
  0% {
    height: 8px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 4px;
  }
}
@keyframes voiceMove2 {
  0% {
    height: 4px;
  }
  50% {
    height: 25px;
  }
  100% {
    height: 4px;
  }
}

@keyframes voiceMove3 {
  0% {
    height: 8px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 4px;
  }
}

@keyframes voiceMove4 {
  0% {
    height: 4px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 4px;
  }
}

@keyframes voiceMove5 {
  0% {
    height: 8px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 4px;
  }
}

@keyframes voiceMove6 {
  0% {
    height: 4px;
  }
  50% {
    height: 30px;
  }
  100% {
    height: 4px;
  }
}

@keyframes voiceMove7 {
  0% {
    height: 8px;
  }
  50% {
    height: 25px;
  }
  100% {
    height: 4px;
  }
}

@keyframes voiceMove8 {
  0% {
    height: 4px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 4px;
  }
}

.voice-line {
  width: 4px;
  border-radius: 9999px;
  transform-origin: bottom;
}

.line-1 {
  animation: voiceMove1 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.line-2 {
  animation: voiceMove2 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.line-3 {
  animation: voiceMove3 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.line-4 {
  animation: voiceMove4 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.line-5 {
  animation: voiceMove5 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.line-6 {
  animation: voiceMove6 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.line-7 {
  animation: voiceMove7 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
.line-8 {
  animation: voiceMove8 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.active .voice-line {
  animation-play-state: running;
}

.inactive .voice-line {
  animation-play-state: paused;
}
